* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

a {
    color: black;
    /*text-decoration: none;*/
}

a:hover {
    background: black;
    color: white;
    font-weight: bold;    
}

html {
    height: 100%;
}

body {
    font-family: 'Prata', serif;
    font-size: 130%;
    height: 100%;
}

.header {
    align-items: baseline;
    display: flex;
    height: 10vh;
    justify-content: space-between;
    margin: 1% 10% 0.1% 10%;
    overflow: hidden;
    width: 80%;
}

.Logo {
    flex: 1;
    font-family: 'Special Elite', cursive;
    font-size: 20px;
}

.nav {
    flex: 1;
}

.nav-links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
}

.nav-link {
    list-style: none;
    text-decoration: none;
}

.main {
    align-items: center;
    display: flex;
    flex-direction: row;
    height: auto;
    justify-content: space-between;
    margin: auto;
    min-height: 80vh;
    width: 80%;
}

.mypicture-container {
    align-items: flex-start;
    display: flex;
    flex: 1;
    height: 90%;
    justify-content: center;
    margin-right: 10px;
}

.mypicture {
    background-color: green;
    border-radius: 60%;
    height: 100%;
    width: auto;
}

.about-me {
    flex: 1.5;
    font-size: 200%;
    margin-left: 10px;
}

.about-me::first-letter {
    float: left;
    font-size: 300%;
    line-height: 0.8;
}

.blinking-cursor {
    font-weight: bolder;
    animation: blink 2s infinite;
}

@keyframes blink {
    0%{opacity:100%;}
    49%{opacity:100%;}
    50%{opacity:0%;}
    99%{opacity:0%;}
    100%{opacity:100%;}
}

.main-columnar {
    height: auto;
    min-height: 80vh;
    margin: 1% 10% 5% 10%;
    width: 80%;
}

hr {
    margin-bottom: 5px;
}


.project-link, .job-title, .degree {
    font-size: 200%;
}

.project-description, .education-detail {
    margin-bottom: 5%;
}

.company-name{
    font-size: 120%;
    margin-bottom: 5%;
}

.date-span, .tech-level {
    font-size: 35%;
}

.school {
    font-size: 120%;
}

.tech-item-container {
    border-radius: 10px;
    border-bottom: 1px solid;
    border-left: 1px solid;
    height: auto;
    padding: 1%;
    width: auto;
}

.tech-logo {
    float: left;
    height: 50px;
    margin: 3px;
    width: 50px;
}

.tech-name {
    font-size: 200%;
}

.tech-logo-other {
    height: 50px;
    margin: 3px;
    width: 50px;
}

.education {
    display: block;
    margin-top: 5%;
}

.solution-manuals-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: auto;
    justify-content: flex-start;
    margin-bottom: 5%;
}

.solution-manual{
    margin: 5px;
}

.math-cover {
    height: 499px; 
    width: 333px;
}

.youtube-logo {
    width: 333px;
    height: auto;
}

.contact-me{
    font-size: 200%;
}

.email, .linkedin {
    font-size: 110%;
}

@media only screen and (max-width: 1500px) {
    .main {
        flex-direction: column;
    }
    
    .mypicture-container {
        margin-bottom: 5%;
    }
    
    .about-me {
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 1200px) {
    .header {
        display: block;
    }
}





